@font-face {
  font-family: 'Intelone Mono Font';
  src: local('Intelone Mono Font Regular'), local('LIntelone-Mono-Font-Regular'),
    url('../public/font/intelone-mono-font-family-regular.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Intelone Mono Font';
  src: local('Intelone Mono Font Bold'), local('LIntelone-Mono-Font-Bold'),
    url('../public/font/intelone-mono-font-family-bold.otf') format('otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Intelone Mono Font';
  src: local('Intelone Mono Font Italic'), local('LIntelone-Mono-Font-Italic'),
    url('../public/font/intelone-mono-font-family-italic.otf') format('otf');
  font-weight: italic;
}

body {
  font-family: 'Intelone Mono Font', sans-serif;
  font-weight: normal;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.layout {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  min-height: 100%;
}

.header {
  background: #2e9aff;
  color: #fff;
  box-sizing: border-box;
  padding: 0 20px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.content {
  box-sizing: border-box;
  padding: 0 20px;
}

.footer {
  box-sizing: border-box;
}
